################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.user
*/obj
*/Debug
*/ipch
*/Release
*/x64
/.vs
/CTPSharp.VC.db
/CTPSharp.VC.VC.opendb
